* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog1{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    max-width: 900px;
    width: 90%;
    position: relative;
    margin: 6% auto;
    padding: 40px;
    background-image: url('/images/esopos1.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-radius: 15px;
    transition: 2s;
}
.modalDialog1 > div {
    max-width: 900px;
    width: 90%;
    position: relative;
    margin: 6% auto;
    padding: 40px;
    background-image: url('/images/devnode.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-radius: 15px;
    transition: 2s;
}
.modalDialog2 > div {
    max-width: 900px;
    width: 90%;
    position: relative;
    margin: 6% auto;
    padding: 40px;
    background-image: url('/images/madesoftacademy.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-radius: 15px;
    transition: 2s;
}
.modalDialog3 > div {
    max-width: 900px;
    width: 90%;
    position: relative;
    margin: 6% auto;
    padding: 40px;
    background-image: url('/images/madesoftautomation.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-radius: 15px;
    transition: 2s;
}
.modalDialog4 > div {
    max-width: 900px;
    width: 90%;
    position: relative;
    margin: 6% auto;
    padding: 40px;
    background-image: url('/images/stacksend.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3px;
    border-radius: 15px;
    transition: 2s;
}
.close {
    font-family: Arial, Helvetica, sans-serif;
    background: #3853A4;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
}
.close:hover {
    background: #3f5081;
    transition: 1s;
    text-decoration: none;
}

.btn_readmore{
    background-color: #3f5081!important;
    color: white!important;
    border-radius: 50px!important;
}


@media screen and (min-width: 900px) {
    .modal-ptag {
        padding-left: 400px; 
        padding-top: 15px;
    }
    
    .btn_readmore{
        margin-left: 398px; 
        margin-top: 10px
    }
}
